Playgrounds/.DS_Store
Playgrounds/Playgrounds/.DS_Store
.DS_Store
*.xcworkspacedata
*.xcuserstate
Playgrounds/.DS_Store
Playgrounds/Playgrounds/.DS_Store
*.xcuserstate
Playgrounds/Playgrounds/xMyPlayground.playground/xcuserdata/s535631.xcuserdatad/xcschemes/xcschememanagement.plist
Playgrounds/Playgrounds/xMyPlayground.playground/playground.xcworkspace/xcuserdata/s535631.xcuserdatad/UserInterfaceState.xcuserstate
